<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>header}}
    <main>
        <section class="devolucion">
            <div class="container">
                <div class="row">
                    <div class="c-col col-sm-12 col-md-12 col-lg-12 col-xl-12">

                     </div>
                </div>
            </div>
        </section>
    </main>
    {{>footer}}
    
</body>

</html>