<footer class="site-footer">
    <div class="container">
        <div class="grid-container">
            <div class="grid-item">
                <img src="/img/loco5.png" class="logo-img" style="border:1px solid black;">
            </div>
            <div class="grid-item inner-grid-container">
                <div class="grid-item"><a href="#Contacto">Consultas</a></div>
                <div class="grid-item"><a href="/terminos">Terminos y condiciones</a></div>
                <div class="grid-item"><a href="/devolucion">Politica de devolucion</a></div>
            </div>
            <div class="grid-item">
                <div class="social-buttons">
                    <a href="https://www.instagram.com/loco5sorteos"><i class="fab fa-instagram circle-icon"><img src="/img/is.png" alt="Instagram Icon"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <p>Copyright © 2021 | Loco 5 | ¡Mucha suerte!</p>
    </div>
</footer>