<header>
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/x.png" class="imagenes" width="auto" height="auto" alt="Logotipo de Loco 5">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavMenu"
                aria-controls="navbarNavMenu" aria-expanded="false" aria-label="Toggle navigation" style="border: 1px solid #6e6e6e; border-radius: 15%;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavMenu">
                <div class="navbar-nav">
                    <a class="nav-item nav-link navmenu" href="#principal">Participa del sorteo</a>
                    <a class="nav-item nav-link navmenu" href="#sobrenosotros">Sobre nosotros</a>
                    <a class="nav-item nav-link navmenu" href="#contacto">Contacto</a>
                </div>
            </div>
        </div>
    </nav>
</header>